
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.

# END WordPress


<files wp-config.php>
order allow,deny
deny from all
</files>


<Files xmlrpc.php>
 order deny,allow
 deny from all
 allow from 000.00.000.000
</Files>