$colour: #f03;

*{
  padding: 0;
  margin: 0;
}

div{
  .movie-list{
    background: whitesmoke;
    margin: 10px;
    padding: 10px;
  }
  .movie-item{
    margin: 10px;
    padding: 10px;
  }
}

p{
  color: green !important;
}